*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: Lato, Helvetica, sans-serif;
  background: linear-gradient(to right, #36d1dc, #5b86e5);
  padding: clamp(20px, 5vw, 50px) 10px 10px;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 850px;
  background-color: #F1F1F1;
  border-radius: 5px;
  box-shadow: 1px 2px 5px #555555;
  padding: 40px 30px;
}

h1 {
  flex: 0 0 100%;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
  font-family: Raleway;
  font-weight: 400;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.size-container, .weight-container {
  flex: 0 0 50%;
  width: 50%;
  padding: 15px 10px;
}

form label {
  display: flex;
  width: 95%;
  padding: 5px;
  font-size: 14px;
}

form input {
  width: 95%;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 5px;
  box-shadow: 1px 2px 5px gray;
  padding: 15px;
  font-size: 16px;
}

form input:focus {
  background-color: #E8F0FE;
  outline: none;
}

button {
  font-family: Lato;
  font-weight: 700;
  font-size: 17px;
  background-color: #FABE33;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 2px 5px gray;
  padding: 10px 25px;
  margin: 20px 0;
  transition: background-color .2s;
}

button:hover {
  background-color: #eeb738;
  cursor: pointer;
}

.calculation-result {
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 5px;
}

.calculation-text {
  width: 100%;
  text-align: center;
  font-family: Raleway;
  font-size: 20px;
}